default:
    autoload:
        '': %paths.base%/

    extensions:
        features\Context\Extension:

    suites:
        local:
            contexts:
                - features\Context\Infrastructure:
                    fs: local

        s3:
            contexts:
                - features\Context\Infrastructure:
                    fs: s3
